.card{
    width: 30%;
    /* background-color: #ffed00; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    border-radius: 20px;
    border: solid 5px #ffed00;
}

.card-img{
    width: 100%;
    display: flex;
    justify-content: center;
   
}

img{
    width: 50%;
    border-radius: 5px;
}

@media screen and (max-width: 480px){
    .card-text p{
        display: none;
    }

    .card-text h2{
        font-size: 20px;
    }

    .card-text h3{
        font-size: 10px;
    }

    img{
        width: 110%;
    }

    .card{
        padding: 50px;
        width: 100%;
        margin-right: 50px;
        margin-left: 50px;
    }
}

